body {
    color: #121212;
    font-size: 15px;
    -webkit-tap-highlight-color: rgba(18, 18, 18, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    overflow: hidden;
    z-index: 100;
    position: relative;
    min-width: 1000px;
    display: block;
    background-color: #FFF;
    width: 1690.67px;
    height: 52px;
    line-height: 52px;
    background-color: rgb(255, 255, 255);
    transition-property: background-color, box-shadow;
    transition-duration: 0.25s;
    transition-timing-function: ease-in;
    background-clip: content-box;
    box-shadow: 0 1px 3px hsl(0deg 0% 7% /10%);
}

.box {
    width: 1227px;
    height: 52px;
    margin: 0 231.833px;
    padding: 0 55px 0 16px;
}

.logo {
    float: left;
    margin-left: 10px;
    width: 480px;
}

a {
    text-decoration: none;
}

a:-webkit-any-link {
    cursor: pointer;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
}

.logo>img {
    width: 64px;
    height: 30px;
    padding: 6px 0;
    margin-top: 6px;
    margin-right: 40px;
    float: left;
}

.header li {
    position: relative;
    height: 50px;
    padding: 0 15px;
    text-align: -webkit-match-parent;
    list-style-type: none;
    display: inline-block;
}

.header a {
    height: 15px;
    padding: 14px 0;
    transition-property: color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in;
    font-size: 15px;
    display: inline-block;
    line-height: 22px;
    position: relative;
    text-align: center;
}

.header>li.one {
    padding-left: 15px;
    padding-right: 15px;
    width: 60px;
}

.header a.O {
    height: 15px;
    font-weight: 600;
    font-size: 15px;
    width: 30px;
    color: #121212;
    -webkit-tap-highlight-color: rgba(18, 18, 18, 0);
}

.header a.O:hover {
    color: #121212;
    opacity: 1;
}

.header a.O::after {
    height: 4px;
    background-color: rgb(5, 109, 232) !important;
    background: #056de8;
    bottom: -1px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
}

.header a.P {
    width: 45px;
    color: #8590A6;
}

.header a.Q {
    width: 30px;
    color: #8590A6;
}

.header a.R {
    width: 60px;
    color: #8590A6;
}

.search {
    padding: 9px 0 9px 0;
    margin-left: 10px;
    float: left;
    width: 482px;
    height: 52px;
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    flex: 1;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
}

.search-input {
    position: absolute;
    border-radius: 999px;
    padding-left: 16px;
    background: #f6f6f6;
    transition-property: background-color, border, color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in;
    box-sizing: border-box;
    padding-right: 0;
    transition-delay: 0s 0s;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid #ebebeb;
    display: flex;
    font-size: 14px;
    height: 34px;
    padding: 4px 10px;
    position: relative;
    cursor: default;
}

input.Input {
    color: #121212;
    height: 24px;
    line-height: 24px;
}

.Input {
    padding: 4px 0 4px 16px;
    -webkit-box-flex: 1;
    background: transparent;
    border: none;
    flex: 1 1;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    overflow: hidden;
    padding: 0;
    resize: none;
}

input {
    outline: none;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    width: 200px;

}

.search-input>img {
    position: absolute;
    right: 15px;
    top: 9px;
    width: 16px;
    height: 16px;
}

element.style {
    display: inline-flex;
    align-items: center;
}

.SearchBar {
    position: absolute;
    right: 0%;
    border-bottom-right-radius: 999px;
    border-top-right-radius: 999px;
    background: transparent;
    border-bottom-left-radius: 0;
    border-color: transparent;
    border-top-left-radius: 0;
    margin-left: 12px;
    padding: 0 12px;
    border: 1px solid;
    cursor: pointer;
    text-align: center;
    color: #8590a6;
    display: inline-block;
    font-size: 14px;
    line-height: 32px;
}

body,
button,
p,
pre {
    margin: 0;
}

button {
    appearance: none;
    font: inherit;
    outline: none;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    align-items: flex-start;
}

.css-1dlt5yv {
    transition-property: color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in;
}

.SearchBar-searchIcon {
    transition: fill .2s ease;
}

svg {
    width: 18;
    height: 18;
    fill: currentColor;
}

svg:not(:root) {
    overflow: hidden;
}

.askButton {
    border-radius: 999px;
    width: 70px;
    height: 34px;
    margin-left: 12px;
    background-color: #056de8;
    color: #fff;
    transition-duration: 0.25s;
    transition-timing-function: ease-in;
    box-sizing: border-box;
    flex-shrink: 0;
    line-height: 30px;
    padding: 0 14px;
    transition: opacity .3s ease, transform .3s ease, -webkit-transform .3s ease;
    z-index: 103;
    border-color: #056de8;
    border: 1px solid;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-size: 14px;
}

.askButton:focus {
    outline: none;
    transition-property: box-shadow, -webkit-box-shadow;
    transition-duration: 0.3s, 0.3s;
    transition-timing-function: ease ease;
    transition-delay: 0s, 0s;
}

.user {
    width: 180px;
    float: left;
    margin-left: 10px;
}

.Popover {
    display: inline-block;
    position: relative;

}

.Popover img {
    display: block;
    margin-bottom: 2px;
}

.Button-messages,
.Button-notifications {
    position: relative;
    width: 24px;
    height: 32px;
    margin-right: 24px;
    margin-top: 2px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    height: auto;
    line-height: inherit;
    padding: 0;
    background: none;
    cursor: pointer;
    text-align: center;
    color: #8590A6;
    display: inline-block;
    font-size: 14px;
}

.css-1m60na {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    font-size: 12px;
    line-height: 14px;
    width: 24px;
    transition-property: color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in;
}

.AppHeader-profile {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 52px;
}

.AppHeader-menu {
    margin-left: 6px;
}

.Button-profileEntry {
    background-color: transparent;
    border: none;
    border-radius: 0;
    height: auto;
    line-height: inherit;
    padding: 0;
    background: none;
    cursor: pointer;
    text-align: center;
    color: #8590a6;
    display: inline-block;
    font-size: 14px;
}

.css-1tzrnvf {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    max-width: 100%;
    background-color: #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 2px;
}

.AppHeader-profileAvatar {
    vertical-align: top;
}

.Avatar {
    background: #fff;
}

.AppHeaderProfileMenu-creatorHintPopover {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.ddLajxN_Q0AuobBZjX9m {
    display: inline-block;
}

.AppHeaderProfileMenu-creatorHintToggle {
    height: 30px;
    width: 30px;
}

element.style {
    left: 1328.83px;
    top: 41.6667px;
}

.Popover-content--bottom {
    transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    margin-top: 16px;
    position: fixed;
    background: #fff;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    box-shadow: 0 5px 20px hsl(0deg 0% 7% / 10%);
    z-index: 203;
}

element.style {
    left: 60px;
    top: 0;
}

.Popover-arrow--bottom {
    height: 16px;
    transform: translate(-50%, -100%);
    width: 32px;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
}

.Popover-arrow--bottom:after {
    bottom: -8px;
    left: 50%;
    background: #fff;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    content: "";
    height: 24px;
    margin: -12px;
    pointer-events: auto;
    position: absolute;
    transform: rotate(45deg);
    width: 24px;
}

.Menu {
    width: 120px;
    height: 260px;
    padding: 6px 0;
}

.Menu-item {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0;
    color: rgb(133, 144, 166);
    font-size: 14px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    height: 36px;
    cursor: pointer;
    padding: 0 20px;
    text-align: left;
    width: 118px;
}

a {
    text-decoration: none;
}

main {
    display: block;
}

.Collections-container {
    display: flex;
    margin: 10px auto;
    padding: 0 16px;
    width: 1000px;
}

.Collections-mainColumn {
    flex-shrink: 0;
    margin-bottom: 0;
    margin-right: 10px;
    width: 694px;
}

.CollectionsHeader {
    box-shadow: none;
    margin-bottom: 0;
}

.Card {
    background: #fff;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px hsl(0deg 0% 7% /10%);
    box-shadow: 0 1px 3px hsl(0deg 0% 7% / 10%);
    box-sizing: border-box;
    overflow: hidden;
}

.CollectionsHeader-mainContent {
    -webkit-box-align: center;
    -webkit-box-flex: 1;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid #f6f6f6;
    display: flex;
    flex: 1 1;
}

.CollectionsHeader-tabs {
    -webkit-box-flex: 1;
    flex: 1 1;
    height: 58px;
}

.CollectionsHeader-main,
.CollectionsHeader-tabs {
    display: flex;
}

.CollectionsHeader-tabsLink {
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    font-size: 16px;
    margin: 0 22px;
    position: relative;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.CollectionsHeader-tabsLink.is-active::after {
    background: #056de8;
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 100%;
}

.CollectionsHeader-addFavlistButton {
    padding: 0;
    margin-right: 22px;
    color: #056de8;
    background-color: transparent;
    border: none;
    border-radius: 0;
    height: auto;
    line-height: inherit;
    background: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-size: 14px;
}

.Card:last-child {
    margin-bottom: 0;
}

.CollectionEmptyState {
    font-size: 14px;
    height: 600px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    color: #8590a6;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.CollectionEmptyState-imageContainer {
    background-size: contain;
    height: 106px;
    margin-bottom: 20px;
    width: 170px;
}

.css-1qyytj7 {
    max-width: 296px;
    align-self: normal;
}

.css-h9cq7d {
    display: block;
    position: relative;
    top: -102px;
    width: 0;
    height: 0;
}

element.style {
    top: -1966.66px;
}

.css-1oy4rvw {
    position: relative;
    transform: translate(360%, 73%);
}

.Card {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px hsl(0deg 0% 7% / 10%);
    box-sizing: border-box;
    margin-bottom: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0 1px 3px hsl(0deg 0% 7% / 10%);
}

.css-19idom {
    margin-bottom: 8px;
    display: block;
}

.Card:last-child {
    margin-bottom: 0;
}

.CreatorEntrance-Link-smallIcon {
    box-sizing: border-box;
    padding: 0 14px;
    height: 52px;
    width: 100%;
}

.CreatorEntrance-hint,
.CreatorEntrance-link {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    width: 100%;
}

.CreatorEntrance-link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: relative;
}

.CreatorEntrance,
.CreatorEntrance-hint {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    width: 100%;
}

.CreatorEntrance-hint {
    height: 52px;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.CreatorEntrance-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-flex: 1;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    line-height: 16px;
    margin-left: 4px;
}

.CreatorEntrance-indexPageTitle {
    margin-left: 3px;
    color: #444;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
}

.css-zkfaav {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}

.css-186nt8z {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    color: rgb(133, 144, 166);
    font-size: 12px;
    cursor: pointer;
}

.css-1tccpil {
    color: rgb(68, 68, 68);
}

.css-16vu25q {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    width: 100%;
}

.GlobalWriteV2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    display: flex;
    flex-direction: column;
}

.GlobalWriteV2-navTop {
    padding: 8px 0 20px;
    position: relative;
}

.GlobalWriteV2-topItem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    margin-right: 10px;
    width: 50px;
}

.GlobalWriteV2-topTitle {
    white-space: nowrap;
    color: #444;
    font-size: 12px;
    line-height: 1;
    text-align: center;
}

.css-9cqq7d {
    height: 98px;
    margin-bottom: 16px;
    border-radius: 4px;
}

.css-jgg5hn {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    width: 262px;
    -webkit-box-align: center;
    align-items: center;
    height: 98px;
    padding-left: 14px;
    padding-right: 14px;
    display: flex;
    background: rgba(133, 144, 166, 0.05);
    border-radius: 4px;
}

.css-1pysja1 {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    flex: 1 1 0%;
}

.css-1jwmvwg {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    font-size: 15px;
    line-height: 21px;
    color: rgb(68, 68, 68);
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.css-11camqh {
    box-sizing: border-box;
    margin: 6px 0 0;
    min-width: 0;
    font-size: 12px;
    color: rgb(153, 153, 153);
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.css-z8paxg {
    box-sizing: border-box;
    margin: 0 0 0 8px;
    min-width: 0;
    width: 60px;
}

.css-hnkyg1 {
    box-sizing: border-box;
    margin: 0 0 18px;
    min-width: 0;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    border: 1px solid rgba(5, 109, 232, 0.5);
    color: rgb(5, 109, 232);
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
    font-size: 14px;
}

.css-173vipd {
    padding: 16px 15px 10px;
    width: 296px;
    margin-bottom: 10px;
}

.css-cd61lo {
    box-sizing: border-box;
    margin: 0 0 23px;
    min-width: 0;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(68, 68, 68);
    font-size: 14px;
    font-weight: 500;
    display: flex;
}

.css-wu9fo4 {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto hidden;
    scroll-snap-type: x mandatory;
    width: 100%;
}

.css-ns7srl {
    margin: 0;
    min-width: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    scroll-snap-align: start;
    width: 100%;
}

.css-vymdp0 {
    box-sizing: border-box;
    margin: 0 0 12px;
    min-width: 0;
    display: flex;
}

.AuthorInfo {
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 654px;
    position: relative;
}

meta {
    display: none;
}

.css-zjxebr .AuthorInfo-content {
    margin-left: 8px;
}

.AuthorInfo-content {
    -webkit-box-flex: 1;
    flex: 1 1;
    overflow: hidden;
}

.AuthorInfo-head {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex-shrink: 0;
    font-size: 15px;
    line-height: 1.1;
}

.AuthorInfo-name .css-zjxebr {
    font-size: 13px;
    font-weight: normal;
}

.AuthorInfo-name {
    color: #444;
}

.AuthorInfo-detail {
    overflow: hidden;
}

.AuthorInfo-badge {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    font-size: 14px;
    margin-top: 2px;
}

.css-1bzms34 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-size: 12px;
    color: rgb(153, 153, 153);
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.css-dczlw9.FollowButton {
    min-width: 58px;
}

.css-dczlw9 {
    padding: 0px;
    margin-left: auto;
    font-size: 12px;
    color: transparent;
    border: none;
    border-radius: 0;
    height: auto;
    line-height: inherit;
    color: #056de8;
    background: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

.css-1oqflzh {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    max-width: 100%;
    background-color: rgb(255, 255, 255);
    width: 38px;
    height: 38px;
    border-radius: 2px;
}

.AuthorInfo-avatar {
    vertical-align: top;
}

.Avatar {
    background: #fff;
}

.css-1lm6gd {
    box-sizing: border-box;
    min-width: 0px;
    font-size: 10px;
    padding-top: 2px;
    color: rgb(133, 144, 166);
    margin: 0px auto;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    user-select: none;
}

.Button-secondary:disabled {
    cursor: default;
    opacity: 0.5;
}

.Button-secondary {
    background: rgba(133, 144, 166, .1);
    color: #8590A6;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 99em;
    width: 16px;
    height: 16px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0px;
}

.Button:disabled {
    pointer-events: none;
}

.Button-secondary>img {
    fill: rgb(133, 144, 166);
    width: 7;
    height: 7;
}

.css-xnyu8s {
    box-sizing: border-box;
    min-width: 0px;
    width: 30px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0px 8px;
    display: flex;
}

.button--secondary {
    background: rgba(133, 144, 166, .1);
    color: #8590A6;
}

.css-1wli1x0 {
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 99em;
    width: 16px;
    height: 16px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0px;
}

.GlobalSideBar-category,
.GlobalSideBar-categoryList {
    display: flex;
}

.GlobalSideBar-category {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.Business-Card-PcRightBanner-link {
    display: block;
    height: 100px;
}

.Business-Card-PcRightBanner-img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.AdvertImg-isLoaded {
    border-color: transparent;
}

.AdvertImg {
    position: relative;
}

.AdvertImg-isLoaded img {
    opacity: 1;
}

.AdvertImg img {
    border-radius: inherit;
    height: 100%;
    object-fit: cover;
    text-indent: -9999px;
    transition: opacity .5s linear;
    vertical-align: top;
    width: 100%;
}

.GlobalSideBar-categoryList {
    flex-wrap: wrap;
    margin: 20px 0 -5px;
    padding: 0 10px;
}

ul {
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.GlobalSideBar-categoryItem {
    display: flex;
    margin-bottom: 25px;
    width: 33%;
}

.GlobalSideBar-categoryItem .Button {
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    flex: 1 1;
    flex-direction: column;
    position: relative;
    background-color: transparent;
    border: none;
    border-radius: 0;
    height: auto;
    line-height: inherit;
    padding: 0;
    background: none;
    text-align: center;
}

.GlobalSideBar-categoryItem img {
    -webkit-box-pack: center;
    -webkit-box-align: end;
    align-items: flex-end;
    display: flex;
    height: 25px;
    justify-content: center;
    margin-bottom: 10px;
    width: 25px;
}

.GlobalSideBar-categoryLabel {
    color: #8590A6;
    font-size: 15px;
}

.GlobalSideBar-navList {
    padding: 8px 0;
    width: 100%;
}

.GlobalSideBar-navLink {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    height: 40px;
    overflow: hidden;
    padding: 0 20px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    line-height: inherit;
    background: none;
    cursor: pointer;
    text-align: center;
    color: #8590A6;
    font-size: 14px;
}

.GlobalSideBar-navText {
    -webkit-box-flex: 1;
    flex: 1 1;
    margin: 0 10px;
    text-align: left;
    line-height: inherit;
    cursor: pointer;
    color: #8590A6;
    font-size: 14px;
}

.GlobalSideBar-navNumber,
html[data-theme=dark].GlobalSideBar-navNumber {
    color: #8590a6;
}

.GlobalSideBar-navNumber {
    font-size: 12px;
    background: #f6f6f6;
    border-radius: 2px;
    padding: 6px 10px;
    line-height: inherit;
    cursor: pointer;
    text-align: center;
}

.Footer,
html[data-theme=dark].Footer {
    color: #8590a6;
}

.Footer {
    font-size: 13px;
    line-height: 2;
    margin: 10px 0;
    padding-left: 5px;
}

footer {
    display: block;
}

.Footer-item {
    -webkit-box-align: center;
    align-items: center;
    display: inline-flex;
}

.Footer-dot::after {
    content: "\B7";
    margin: 0 5px;
}

.OrgCreateButton {
    border: none;
    padding: 0;
    background: none;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    color: #8590A6;
    display: inline-block;
    font-size: 14px;
    line-height: 32px;

}

.css-1qyytj7 {
    width: 296px;
    float: left;
}